port {{ openvpn_port }}
proto {{ openvpn_proto }}4
dev tun
user nobody
group nogroup
persist-key
persist-tun
keepalive 10 120
topology subnet
server {{ openvpn_server_subnet }} {{ openvpn_server_mask }}
ifconfig-pool-persist ipp.txt
push "dhcp-option DNS {{ openvpn_dns_1 }}"
push "dhcp-option DNS {{ openvpn_dns_2 }}"
push "redirect-gateway def1 bypass-dhcp"
crl-verify crl.pem
dh none
ecdh-curve {{ openvpn_dh_curve }}
tls-crypt ta.key
ca ca.crt
cert {{ server_name }}.crt
key {{ server_name }}.key
auth {{openvpn_hmac_alg }}
cipher {{ openvpn_cipher }}
ncp-ciphers {{ openvpn_cipher }}
tls-server
tls-version-min {{ openvpn_tls_min_ver }}
tls-cipher {{ openvpn_tls_cipher }}
status /var/log/openvpn/openvpn-status.log
verb {{ openvpn_verb_level }}
explicit-exit-notify 1
