client
proto {{ openvpn_proto }}
explicit-exit-notify
remote {{ server_ip }} {{ openvpn_port }}
dev tun
resolv-retry infinite
nobind
persist-key
persist-tun
remote-cert-tls server
verify-x509-name {{ server_name }} name
auth {{ openvpn_hmac_alg }}
auth-nocache
cipher {{ openvpn_cipher }}
tls-client
tls-version-min {{ openvpn_tls_minver }}
tls-cipher {{ openvpn_tls_cipher }}
ignore-unknown-option block-outside-dns
setenv opt block-outside-dns
verb {{ openvpn_verb_level }}
<ca>
{{ ca_cert }}
</ca>
<cert>
{{ client_cert }}
</cert>
<key>
{{ client_key }}
</key>
<tls-crypt>
{{ ta_key }}
</tls-crypt>
