---
- name: Generate client config
  hosts: localhost
  connection: local

  vars_prompt:
    - name: client_name
      prompt: Enter client name
      private: false

  roles:
    - role: gen_client_config
      tags: gen_client_config
