---
# tasks file for gen_client

- name: Get local username
  local_action: command whoami
  register: local_username
  changed_when: false

- name: Get local user ID
  local_action: command id -u {{ local_username.stdout }}
  register: local_userid
  changed_when: false

- name: Set local username and UID as facts
  set_fact:
    local_username: '{{ local_username.stdout }}'
    local_userid: '{{ local_userid.stdout }}'

- name: Build Easy RSA docker container
  docker_image:
    name: easyrsa
    tag: easyrsa
    build:
      path: '{{ easyrsa_path }}'
      args:
        USERNAME: '{{ local_username }}'
        USERID: '{{ local_userid }}'
    source: build

- name: Build CA on local machine
  docker_container:
    name: easyrsa
    image: easyrsa:easyrsa
    volumes:
      - '{{ easyrsa_path }}/ca:/home/easyrsa/ca'
    command: build_ca

- name: Generate client config
  docker_container:
    name: easyrsa
    image: easyrsa:easyrsa
    volumes:
      - '{{ easyrsa_path }}/ca:/home/easyrsa/ca'
    env:
      CLIENT_NAME: '{{ client_name }}'
    command: gen_client

- name: Gegerate client config
  template:
    src: client.j2
    dest: '{{ client_configs_path }}/{{ client_name }}.ovpn'
